/*Hoja de Estilo*/
/*Desarrollada para el proyecto: Ejemplo de Frontend con Foundation
**Por: Enrique Valerio
**Diciembre 2017
*/

@import 'variables.css';
@import 'mediaquery.css';
@import 'tipografia.css';
@import 'general.css';

/******************************
ESTILOS PROPIOS DEL TEMA
*******************************/
#acordeon {
	& .accordion-title::before {
		position: absolute;
		top: 50%;
		right: 1rem;
		margin-top: -1.5rem;
		content: '\f065';
		font-family: 'FontAwesome';
		font-size: 3rem;
	}
	& .is-active > .accordion-title::before {
		content: '\f066';
	}
}
#barra {
	& .menu a, .menu .button {
		line-height: 1;
		text-decoration: none;
		display: block;
		padding: 0.7rem 1rem;
		margin-top: 0.2rem;
	}
	& .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
		right: -2px;
		left: auto;
		margin-top: -3px;
	}
	.title-bar {
		background: var(--colorPpal);
		color: #fefefe;
	}
}
#acordeon,#barra,#botones,#grilla,#menu,#sticky,#table,#tipografia {
	& pre {
		background: lightcyan;
	  	border: 1px solid cadetblue;
	  	padding: 1rem;
	}
	& small {
		color: var(--colorGrisOscuro);
	}
}
#grilla{

	& .row {
	  background: lightcyan;
	  border: 1px solid cadetblue;
	  padding: 1rem;
	}
	& .columns,.column{
	  background: paleturquoise;
	  border: 1px solid navy;
	  padding: 1rem;
	}
}
#logo-container {

	& .callout {
		background-color: var(--colorPpal);
		margin: 0;
	

		& h1 {
			color: white;
			font-size: responsive 3rem 5rem;
			font-weight: bold;
		} 
	}
}
#menu {
	& .dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a::after {
		right: 0px;
		left: auto;
		margin-top: -3px;
	}
}
#menu-container {
	background-color: #48a19d;

	& .is-dropdown-submenu > li {
	width: 100%;
	background: #48a19d;
}
	& li {
		
		& a {
			color: white;
			font-family: var(--fontTitulo);
		}

		& a:hover {
			color: var(--colorSec);
		}
	}
}

#menu-offcanvas {
	& a {
		font-size: responsive 1.4rem 1.6rem;
	}
}
#social-container {
	background-color: #1c3643;
	padding: 0.5rem;

	& a:hover {
			color: var(--colorSec);
	}
}


/* /.ESTILOS PROPIOS DEL TEMA */


/******************************
MEDIA-QUERIES
*******************************/


