/*Hoja de Estilo*/
/*Desarrollada para el proyecto: Ejemplo de Frontend con Foundation
**Por: Enrique Valerio
**Diciembre 2017
*/

@import 'variables.css';
@import 'mediaquery.css';
@import 'tipografia.css';
@import 'general.css';

/******************************
ESTILOS PROPIOS DEL TEMA
*******************************/
#acordeon, .acordeon {
	& .accordion-title::before {
		position: absolute;
		top: 50%;
		right: 1rem;
		margin-top: -1.5rem;
		content: '\f065';
		font-family: 'FontAwesome';
		font-size: 2.5rem;
	}
	& .is-active > .accordion-title::before {
		content: '\f066';
	}
	& .accordion-content {
		padding: 1rem;
		border: none;
		border-bottom: 0;
		background-color: transparent;
		color: #333;
	}
	.accordion {
		background: color(white a(50%));
	}
}
#barra {
	& .menu a, .menu .button {
		line-height: 1;
		text-decoration: none;
		display: block;
		padding: 0.7rem 1rem;
		margin-top: 0.2rem;
	}
	& .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
		right: -2px;
		left: auto;
		margin-top: -3px;
	}
	.title-bar {
		background: var(--colorPpal);
		color: #fefefe;
	}
}
#acordeon,#alternar,#barra,#botones,#desplegable,#ecualizador,#flotar,#formularios,
#grilla,#incrustado,#intercambiar,#insignia,#llamadas,#medios,#menu,#miniatura,
#offcanvas,#slider,#suave,#reveal,#sticky,#tabs,#table,#tooltips,#tipografia,
#visibilidad {
	& pre {
		background: lightcyan;
	  	border: 1px solid cadetblue;
	  	padding: 1rem;
	}
	& small {
		color: var(--colorGrisOscuro);
	}
}
#intercambiar {

	& .bg-int {
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  height: 50vh;

	  & div {
	  	color: white !important;
	  	font-size: 3rem;
	  	text-align: center;
	  	text-shadow: 0px 0px 4px #333;
	  	width: 90%;

		& cite {
			color: white !important;
		}

	  	& small {
	  		color: white !important;
	  		font-size: 1.8rem;
	  	}
	  }
	}
}
#introduccion {
	background-image: url("../img/fantasy-1920.jpg");
	background-size: cover;
	background-position: fixed;

	padding: 7rem 0;
}
#grilla{

	& .row {
	  background: lightcyan;
	  border: 1px solid cadetblue;
	  padding: 1rem;
	}
	& .columns,.column{
	  background: paleturquoise;
	  border: 1px solid navy;
	  padding: 1rem;
	}
}
#logo-container {

	& .callout {
		background-color: var(--colorPpal);
		margin: 0;


		& h1 {
			color: white;
			font-size: responsive 3rem 5rem;
			font-weight: bold;
		}
	}
}
#menu {
	& .dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a::after {
		right: 0px;
		left: auto;
		margin-top: -3px;
	}
}
#menu-container {
	background-color: #000144;

	& .is-dropdown-submenu > li {
	width: 100%;
	background: #000144;
}
	& li {

		& a {
			color: white;
			font-family: var(--fontTitulo);
		}

		& a:hover {
			color: var(--colorSec);
		}
	}
}

#menu-offcanvas {
	& a {
		font-size: responsive 1.4rem 1.6rem;
	}
}

#social-container {
	background-color: #1c3643;
	padding: 0.5rem;

	& a:hover {
			color: var(--colorSec);
	}
}

#tarjetas {

	& .card {
		border: 1px solid #999;
	}
}


/* /.ESTILOS PROPIOS DEL TEMA */


/******************************
MEDIA-QUERIES
*******************************/
